frontend http
    bind *:8100
    mode http
    timeout client 10s
    use_backend all

backend all
    mode http
    balance roundrobin
    # server s1 nominatim_service_1:8080
    server s2 nominatim_service_2:8080
    server s3 nominatim_service_3:8080

listen stats
    bind :9900
    mode http
    stats enable
    stats uri /haproxy_stats
    stats realm HAProxy\ Statistics
    stats auth username:password
